@page
@model Pagina.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/IndexShared/_LayoutIndx.cshtml";
    }


<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div  class="text-center Centru">
        <p id="titlu">Arhiva STUDENTULUI</p>
        <p id="subtititluMain">Locul unde gasesti ce ai nevoie!</p>
    </div>

<div class="spacer"></div>
<div class="spacer"></div>



      
<div class="container">
    <p id="titlu" class="text-white text-center">⤙Cum utilizezi?⤚<p>
        <div class="row justify-content-sm-between m-sm-3">
            <div id="div-informatii" class="col-sm-3 text-center m-sm-4">
                <p class="titluInformatii">Forum</p>
                <p class="text-white">Socializează, întreabă și află lucruri noi! Forumul îți va permite să creezi noi legături cu alți studenți.</p>
                </div>
            <div id="div-informatii" class="col-sm-4 text-center m-sm-4">
                <p class="titluInformatii">Materialele mele</p>
                <p class="text-white">
                    Locul unde găsești materialele specifice profilului tău, ce așteaptă să fie explorate!
                    </p>
                </div>
            <div id="div-informatii" class="col-sm-3 text-center m-sm-4">
                <p class="titluInformatii ">Universități</p>
                <p class="text-white">
                    Nu ai găsit ce căutai? Încearcă și la alte facultăți sau universități.
                    </p>
                </div>
        </div>
</div>

